DB_NAME=what-to-watch
DB_HOST=127.0.0.1
DB_PORT=27017
DB_USER=admin
DB_PASSWORD=test
SALT=supersecretsalt
JWT_SECRET=supersecretjwt
UPLOAD_DIRECTORY=upload
STATIC_DIRECTORY_PATH=static
PORT=1234
HOST=localhost
